.addresses {
    &__title {
        padding: 2.4rem 3rem;
        border-radius: 3rem 3rem 0px 0px;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: calc(42 / 32);
        background: #ffcb25;
    }

    &__table {
        border: 2px solid #000;
        border-width: 2px 0;

        .addresses__title + & {
            border-top: 0;
        }
    }
}

@media (max-width: 599.98px) {
    .addresses {
        &__title {
            font-size: 2.7rem;
        }
    }
}
