.article {
    padding: 5rem 4.8rem calc(6rem + 3rem) 4.8rem;
    margin-bottom: -3rem;
    border-radius: 3rem 3rem 0px 0px;
    background: #fff;

    &--gray {
        background: #e9e8e9;
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 3.2rem;
        font-weight: 300;
        line-height: calc(42 / 32);
    }

    &__text {
        font-size: 2rem;
        line-height: calc(32 / 20);
        max-width: 100rem;

        li {
            margin: 1rem 0;
            position: relative;
            padding-left: 4rem;

            @include reset-margins;
        }

        ol {
            li {
                > span {
                    position: absolute;
                    top: 0.5rem;
                    left: 0;
                    color: #b4bbc7;
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: calc(24 / 20);
                }
            }
        }

        ul {
            li {
                &:before {
                    content: "";
                    position: absolute;
                    top: 1.2rem;
                    left: 1.2rem;
                    width: 0.8rem;
                    height: 0.8rem;
                    background: #ffcb25;
                    border-radius: 50%;
                }
            }
        }

        a {
            text-decoration: underline;
            color: #ffcb25;
        }
    }

    &__tip {
        margin-top: 3rem;
    }
}
