.clients {
    padding-top: 5rem;
    padding-bottom: 9.6rem;
    color: #fff;

    &__title {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 800;
        line-height: calc(28 / 16);
    }

    &__desc {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: calc(42 / 32);
    }

    &__logos {
        margin-top: 5.6rem;
    }

    &__stars {
        margin-top: 6rem;
    }

    &__btn-join {
        padding-top: 16.2rem;
        min-width: auto;
    }
}
