.contact {
    background: #000;
    padding-top: 4rem;
    padding-bottom: calc(18rem + 3rem);
    margin-bottom: -3rem;
    color: #fff;
    overflow: hidden;

    &__title {
        margin-bottom: 4rem;
        white-space: nowrap;
        font-size: 8rem;
        font-weight: 500;
        line-height: 1.2;
        color: #ffcb25;

        &__value {
            display: inline-block;
            animation: scrollLeft 12s linear infinite;
        }
    }

    &__desc {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding-top: 3rem;
        font-size: 2rem;
        line-height: calc(32 / 20);
    }

    &__row {
        display: flex;
        margin: 0 -0.8rem;
        margin-top: 5rem;
        flex-wrap: wrap;
        gap: 1.6rem 0;
    }

    &__col {
        flex: 0 0 auto;
        padding: 0 0.8rem;
        width: 50%;
    }

    &__tip {
        margin-top: 3rem;
        width: 50%;
        padding-right: 0.8rem;
        font-size: 2rem;
        line-height: calc(32 / 20);

        a {
            color: #ffcb25;
        }
    }

    &__btn {
        width: 50%;
        padding-right: 0.8rem;
        margin-top: 2rem;
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.33%);
    }
}

@media (max-width: 599.98px) {
    .contact {
        &__col {
            width: 100%;
        }

        &__tip {
            width: auto;
            font-size: 1.7rem;
        }

        &__btn {
            width: auto;

            button {
                width: auto;
            }
        }

        &__title {
            font-size: 6rem;
        }

        &__desc {
            font-size: 1.7rem;

            br {
                display: none;
            }
        }
    }
}
