.contact {
    padding-top: 4rem;
    padding-bottom: 18rem;
    color: #fff;
    overflow: hidden;

    &__title {
        margin-bottom: 4rem;
        white-space: nowrap;
        font-size: 8rem;
        font-weight: 500;
        line-height: 1.2;
        color: #ffcb25;

        &__value {
            display: inline-block;
            animation: scrollLeft 7s linear infinite;
        }
    }

    &__sep {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    &__desc {
        margin-top: 3rem;
        font-size: 2rem;
        line-height: calc(32 / 20);
    }

    &__row {
        display: flex;
        margin: 0 -0.8rem;
        margin-top: 5rem;
        flex-wrap: wrap;
        gap: 1.6rem 0;
    }

    &__col {
        flex: 0 0 auto;
        padding: 0 0.8rem;
        width: 50%;
    }

    &__tip {
        margin-top: 3rem;
        width: 50%;
        padding-right: 0.8rem;
        font-size: 2rem;
        line-height: calc(32 / 20);

        a {
            color: #ffcb25;
        }
    }

    &__btn {
        width: 50%;
        padding-right: 0.8rem;
        margin-top: 2rem;
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.33%);
    }
}
