.features {
    &__row {
        display: flex;
        margin: 0 -0.8rem;
        flex-wrap: wrap;
    }

    &__col {
        flex: 0 0 auto;
        padding: 0 0.8rem;
        width: 33.33%;
    }

    &__item {
        padding: 2rem 8rem 4rem 0;
        border-top: 1px solid rgba(105, 119, 144, 0.5);
        position: relative;

        &:before {
            transition: all 1s;
            content: " ";
            position: absolute;
            width: 0;
            height: 1px;
            top: -1px;
            background: #697790;
        }

        &:hover {
            &:before {
                width: 100%;
            }

            .features__title {
                color: #ffcb25;
            }

            .link-area {
                cursor: url("../img/icons/arrow-services.svg") 22 22, auto;
            }
        }
    }

    &__title {
        transition: all 0.2s;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: calc(24 / 20);
    }

    &__desc {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: calc(24 / 14);
        letter-spacing: -0.14px;
    }
}

@media (max-width: 899.98px) {
    .features {
        &__col {
            width: 50%;
        }
    }
}

@media (max-width: 599.98px) {
    .features {
        &__col {
            width: 100%;
        }

        &__item {
            padding-right: 6rem;
        }
    }
}
