.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;

    &__center {
        display: flex;
        align-items: center;
    }

    &__col-menu {
        margin-left: 9.6rem;
    }

    &__col-links {
        margin-left: auto;
    }

    &__col-icons {
        margin-left: 2.8rem;
    }
}
