.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;

    &__logo {
        flex: 0 0 auto;
        width: 13.1rem;
        background: url("../img/logos/background.svg") no-repeat 50% 50% /
            contain;

        &:before {
            content: " ";
            padding-top: 41.67%;
            display: block;
        }
    }

    &__center {
        display: flex;
        align-items: center;
    }

    &__menu {
        margin-left: 9.6rem;
    }

    &__links {
        margin-left: auto;
    }

    &__icons {
        margin-left: 2.8rem;
    }

    &__space {
        height: 9.5rem;
    }
}
