.page {
    background: #000;

    &--white {
        background: #fff;

        .nav-top a {
            color: #000;
        }

        .nav-icons a {
            border-color: #000;

            .icon {
                stroke: #000;
            }
        }

        .header .btn-normal {
            border-color: #000;
            color: #000;

            &:hover {
                border-color: #ffcb25;
            }
        }

        .header__logo {
            background-image: url("../img/logos/background--dark.svg");
        }
    }

    &__center {
        padding: 0 var(--side-padding);
        box-sizing: content-box;
        max-width: 1340px;
        margin: 0 auto;
    }

    &__gap-40 {
        height: 4rem;
    }

    &__gap-80 {
        height: 8rem;
    }
}
