.services {
    padding: 6rem 0 calc(8rem + 3rem) 0;
    margin-bottom: -3rem;
    border-radius: 3rem 3rem 0px 0px;
    background: #fff;

    &__title {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 800;
        line-height: calc(28 / 16);
    }

    &__desc {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: calc(42 / 32);
    }

    &__list {
        margin-left: 33.33%;
        margin-top: 4rem;
    }
}
