/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}

.d-block {
  display: block !important;
}

.d-none {
  display: block !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.w-100 {
  width: 100%;
}

.link-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nice-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition: background-size 0.25s ease-out, color 0.2s;
}
.nice-link:hover {
  background-size: 100% 1px;
}
.nice-link--active {
  background-size: 100% 1px;
}
.nice-link--active:hover {
  background-size: 0 1px;
}

.edge-area {
  width: 10%;
  max-width: 70px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  pointer-events: none;
}
.edge-area.active {
  display: block;
}
.edge-area--l {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.edge-area--r {
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  left: auto;
  right: 0;
}

.image-box {
  display: block;
  position: relative;
  overflow: hidden;
}
.image-box--rounded {
  background: #f3f3f3;
  border-radius: 1rem;
}
.image-box--cover img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

:root {
  --side-padding: 4.8rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  min-width: 320px;
  font-family: "Manrope";
  color: #000;
}

img {
  max-width: 100%;
}

img[data-src] {
  visibility: hidden;
}

a,
button {
  transition: all 0.2s;
}
a:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.icon {
  width: 1em;
  height: 1em;
}

.scroll-area {
  overflow: auto;
}

.btn {
  display: inline-block;
  border: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn--between {
  justify-content: space-between;
}
.btn__icon {
  margin: -1em 0.6060606061em;
  font-size: 1.9411764706em;
  fill: currentColor;
}
.btn__icon:first-child {
  margin-left: 0;
}
.btn__icon:last-child {
  margin-right: 0;
}
.btn__icon--80 {
  font-size: 1.5529411765em;
}
.btn__icon--50 {
  font-size: 0.9705882353em;
}

.btn-filled {
  transition: all 0.4s;
  border: 1px solid transparent;
  padding: 3.1rem 1.5rem 1.3rem 1.5rem;
  border-radius: 1.4rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 21rem;
  gap: 1.6rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: -0.14px;
  color: #000;
}
.btn-filled__icon {
  flex: 0 0 auto;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.btn-filled__icon .icon {
  font-size: 1rem;
  stroke: #000;
}
.btn-filled--yellow-to-white {
  background: #ffcb25;
}
.btn-filled--yellow-to-white .btn-filled__icon {
  background: #fff;
}
.btn-filled--yellow-to-white:hover {
  background: #fff;
}
.btn-filled--yellow-to-white:hover .btn-filled__icon {
  background: #ffcb25;
}
.btn-filled--yellow-to-dark {
  background: #ffcb25;
}
.btn-filled--yellow-to-dark .btn-filled__icon {
  background: #fff;
}
.btn-filled--yellow-to-dark:hover {
  background: #000;
  color: #ffcb25;
}
.btn-filled--yellow-to-dark:hover .btn-filled__icon {
  background: #ffcb25;
}
.btn-filled--gray-to-yellow {
  background: #444;
}
.btn-filled--gray-to-yellow .btn-filled__icon {
  background: #000;
}
.btn-filled--gray-to-yellow .btn-filled__icon .icon {
  stroke: #444;
}
.btn-filled--gray-to-yellow:hover {
  background: #ffcb25;
  color: #000;
}
.btn-filled--gray-to-yellow:hover .btn-filled__icon {
  background: #fff;
}
.btn-filled--gray-to-yellow:hover .btn-filled__icon .icon {
  stroke: #000;
}
.btn-filled--white {
  background: #fff;
}
.btn-filled--white .btn-filled__icon {
  background: #ffcb25;
}

.btn-outline {
  transition: all 0.4s;
  border: 1px solid #fff;
  padding: 3.1rem 1.5rem 1.3rem 1.5rem;
  border-radius: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 21rem;
  gap: 1.6rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: -0.14px;
  color: #fff;
}
.btn-outline__icon {
  flex: 0 0 auto;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffcb25;
}
.btn-outline__icon .icon {
  font-size: 1rem;
  stroke: #000;
}
.btn-outline:hover {
  border-color: #ffcb25;
}

.btn-normal {
  transition: all 0.4s;
  border: 1px solid #fff;
  padding: 1.3rem 1.5rem;
  border-radius: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 21rem;
  gap: 1.6rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: -0.14px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.btn-normal__icon {
  transition: all 0.2s;
  flex: 0 0 auto;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffcb25;
}
.btn-normal__icon .icon {
  font-size: 1rem;
  stroke: #000;
}
.btn-normal:hover {
  background: #fff;
  color: #000;
}
.btn-normal.active .btn-normal__icon {
  transform: rotate(90deg);
}

.btn-burger {
  display: inline-block;
  border: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  cursor: pointer;
  padding: 4px;
  line-height: 0;
}
.btn-burger span {
  transition: all 0.2s;
  display: block;
  background: #fff;
  margin: 5px 0;
  height: 3px;
  width: 23px;
}
.btn-burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.btn-burger.active span:nth-child(2) {
  opacity: 0;
}
.btn-burger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.input-default input {
  background: transparent;
  border: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 1em 0;
  font-family: inherit;
  font-size: 2rem;
  line-height: 1.6;
  color: #fff;
}
.input-default input:focus {
  outline: none;
  border-bottom-color: #ffcb25;
}
.input-default input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.input-default input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.input-default input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 599.98px) {
  .input-default input {
    font-size: 1.7rem;
  }
}
.list-nums {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.8rem;
}
.list-nums__col {
  flex: 0 0 auto;
  padding: 0 0.8rem;
  width: 50%;
}
.list-nums__item {
  display: block;
  position: relative;
  padding: 2rem 0 4rem 0;
  border-top: 1px solid rgba(105, 119, 144, 0.5);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.list-nums__item:after {
  content: " ";
  transition: all 0.2s;
  width: 4.4rem;
  height: 4.4rem;
  background: url(../img/icons/arrow-services.svg) no-repeat 50% 50%/contain;
  opacity: 0;
  position: absolute;
  right: 20%;
  top: 2rem;
}
.list-nums__item:hover {
  color: #ffcb25;
}
.list-nums__item:hover .services__index {
  color: #ffcb25;
}
.list-nums__item:hover:after {
  opacity: 1;
}
.list-nums__name {
  display: block;
  padding-right: calc(20% + 4.4rem + 2rem);
}
.list-nums__index {
  position: absolute;
  top: 2rem;
  right: 0;
  font-weight: 500;
  color: #b4bbc7;
}
.list-nums--offices .list-nums__item:after {
  background-image: url(../img/icons/arrow-offices.svg);
}
.list-nums--offices .list-nums__item:hover {
  color: #000;
}
.list-nums--offices .list-nums__item:hover .services__index {
  color: #b4bbc7;
}

@media (max-width: 599.98px) {
  .list-nums__col {
    width: 100%;
  }
  .list-nums__item:after {
    right: 15%;
  }
  .list-nums__name {
    padding-right: calc(15% + 4.4rem + 2rem);
  }
}
.list-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  gap: 2rem 0;
}
.list-cards__col {
  flex: 0 0 auto;
  padding: 0 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.list-cards__item {
  transition: all 0.2s;
  position: relative;
  padding: 5rem;
  border-radius: 1.4rem;
  border: 1px solid #000;
  flex-grow: 1;
}
.list-cards__item:first-child {
  margin-top: 0;
}
.list-cards__item:before {
  transition: all 0.2;
  content: " ";
  position: absolute;
  top: 4rem;
  right: 5rem;
  width: 4.4rem;
  height: 4.4rem;
  background: url(../img/icons/arrow-services.svg) no-repeat 50% 50%/contain;
  opacity: 0;
}
.list-cards__item:hover {
  border-color: transparent;
  background: #ffcb25;
}
.list-cards__item:hover:before {
  opacity: 1;
}
.list-cards__item:hover .list-cards__num {
  color: #000;
}
.list-cards__num {
  transition: all 0.2s;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 0.75;
  color: #b4bbc7;
}
.list-cards__title {
  margin: 3rem 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3125;
}
.list-cards__desc {
  font-size: 2rem;
  line-height: 1.6;
}

@media (max-width: 899.98px) {
  .list-cards__col {
    width: 100%;
  }
  .list-cards__item {
    padding: 3rem;
  }
  .list-cards__title {
    margin: 2rem 0;
    font-size: 2.5rem;
  }
}
@media (max-width: 599.98px) {
  .list-cards__desc {
    font-size: 1.6rem;
  }
}
.nav-tabs ul {
  display: flex;
  gap: 2rem;
}
.nav-tabs li.active a {
  font-weight: 600;
  color: #204a8f;
}
.nav-tabs a {
  display: block;
  font-size: 1.7rem;
  line-height: 3.8rem;
  text-align: center;
  color: #a0a5b9;
}
.nav-tabs a:hover {
  color: #8389a3;
}

.nav-icons ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-icons a {
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.nav-icons a .icon {
  font-size: 1.8rem;
  stroke: #fff;
}
.nav-icons a:hover {
  background: #fff;
}
.nav-icons a:hover .icon {
  stroke: #0f1111;
}

.nav-top ul {
  display: flex;
  align-items: center;
  gap: 0 2.4rem;
  flex-wrap: wrap;
}
.nav-top li:last-child {
  padding-left: 1.2rem;
}
.nav-top a {
  padding: 0.2em 0;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: -0.14px;
  color: #fff;
}
.nav-top a:hover {
  color: #ffcb25 !important;
}
.nav-top--addon li {
  padding-left: 0 !important;
}
.nav-top--addon a {
  font-size: 2rem;
  color: #000;
}

@media (max-width: 899.98px) {
  .nav-top--header li {
    display: none;
  }
}
.nav-grid ul {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 3rem 0 2.2rem 0;
  gap: 1.3rem;
}
.nav-grid li.active a {
  text-decoration: underline;
  color: #000000;
}
.nav-grid a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: -0.14px;
  color: rgba(0, 0, 0, 0.25);
}
.nav-grid a:hover {
  color: #000000;
}

.nav-bread {
  margin: 1.1rem 0 4rem 0;
  position: relative;
  z-index: 10;
}
.nav-bread ul {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
  flex-wrap: wrap;
  white-space: nowrap;
}
.nav-bread li {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.3333333333;
  color: #b4bbc7;
}
.nav-bread li:last-child {
  display: none;
}
.nav-bread a {
  text-decoration: underline;
}
.nav-bread__arrow {
  position: relative;
  top: -0.2em;
}
.nav-bread__current {
  color: #000;
}

.nav-down {
  transition: all 0.2s;
  position: absolute;
  z-index: 100;
  top: 9.5rem;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}
.nav-down.active {
  visibility: visible;
  opacity: 1;
}
.nav-down__body {
  padding: 3rem;
  border-radius: 3rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav-down__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.5rem 0 3rem 25%;
}
.nav-down__row {
  display: flex;
}
.nav-down__left {
  padding-left: 2rem;
  padding-right: 7rem;
  flex: 0 0 auto;
  width: 25%;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: -0.14px;
  color: #979ba2;
}
.nav-down__nav {
  display: flex;
  gap: 7.5rem;
}
.nav-down__col {
  flex-grow: 1;
}
.nav-down__col:last-child {
  flex-grow: 0;
}
.nav-down__list {
  margin-top: -1rem;
}
.nav-down__list li {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2;
  padding-top: 1rem;
}
.nav-down__list a {
  padding: 0.5rem 0;
}
.nav-down__list a:hover {
  color: #ffcb25 !important;
}
.nav-down__btn {
  margin-top: 17rem;
}
.nav-down__addon__top {
  display: none;
}
.nav-down__addon__icons {
  display: none;
}

@media (max-width: 1199.98px) {
  .nav-down__addon {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 4rem;
  }
  .nav-down__addon__icons {
    display: block;
    filter: invert(1);
    margin-left: auto;
  }
  .nav-down__addon__icons a {
    background: none;
  }
  .nav-down__left {
    display: none;
  }
  .nav-down__title {
    margin-left: 0;
  }
  .nav-down__nav {
    flex-wrap: wrap;
    gap: 5rem;
  }
  .nav-down__btn {
    margin-top: 5rem;
  }
}
@media (max-width: 899.98px) {
  .nav-down__addon__top {
    display: block;
  }
}
.panel-stars {
  position: relative;
  padding: 3.6rem 4.6rem;
  border: 2px solid #ffcb25;
  border-radius: 2rem;
}
.panel-stars__title {
  margin-bottom: 1.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffcb25;
}
.panel-stars__desc {
  margin-right: 38rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}
.panel-stars__btn {
  margin-top: 3.2rem;
  margin-bottom: 1.4rem;
}
.panel-stars__image {
  position: absolute;
  right: 9rem;
  height: 100%;
  top: 0;
  width: 19rem;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1199.98px) {
  .panel-stars__desc {
    margin-right: 25rem;
  }
  .panel-stars__image {
    right: 7rem;
    width: 14rem;
  }
}
@media (max-width: 899.98px) {
  .panel-stars {
    padding: 3rem;
  }
  .panel-stars__desc {
    margin-right: 0;
  }
  .panel-stars__image {
    display: none;
  }
}
.panel-tip {
  border-left: 1px solid #000;
  padding-left: 1.7rem;
  font-size: 1.4rem;
  line-height: 1.7142857143;
  letter-spacing: -0.14px;
  max-width: 54rem;
}
.panel-tip--yellow {
  border-color: #ffcb25;
}

.table-default table {
  width: 100%;
}
.table-default tr:last-child td {
  border-bottom: 0;
}
.table-default td {
  padding: 2.4rem 3rem 2.4rem 0;
  border-bottom: 1px solid #b4bbc7;
  font-size: 2rem;
  line-height: 1.6;
}
.table-default td:first-child {
  padding-left: 3rem;
}

@media (max-width: 599.98px) {
  .table-default td {
    font-size: 1.6rem;
  }
}
.tabs-content > div {
  display: none;
}
.tabs-content > div.active {
  display: block;
}

.page {
  background: #000;
  overflow: hidden;
}
.page--white {
  background: #fff;
}
.page--white .nav-top a {
  color: #000;
}
.page--white .nav-top--addon a {
  color: #fff;
}
.page--white .nav-icons a {
  border-color: #000;
}
.page--white .nav-icons a .icon {
  stroke: #000;
}
.page--white .header .btn-normal {
  border-color: #000;
  color: #000;
}
.page--white .header .btn-normal:hover {
  border-color: #ffcb25;
}
.page--white .header__logo {
  background-image: url("../img/logos/background--dark.svg");
}
.page--white .nav-down {
  color: #fff;
}
.page--white .nav-down__left {
  color: rgba(255, 255, 255, 0.8);
}
.page--white .nav-down__body {
  background: #000;
  box-shadow: none;
}
.page--white .btn-burger span {
  background: #000;
}
.page__center {
  padding: 0 var(--side-padding);
  box-sizing: content-box;
  max-width: 1340px;
  margin: 0 auto;
}
.page__gap-40 {
  height: 4rem;
}
.page__gap-80 {
  height: 8rem;
}

.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
}
.header__logo {
  flex: 0 0 auto;
  width: 13.1rem;
  background: url("../img/logos/background.svg") no-repeat 50% 50%/contain;
}
.header__logo:before {
  content: " ";
  padding-top: 41.67%;
  display: block;
}
.header__center {
  display: flex;
  align-items: center;
}
.header__menu {
  margin-left: 9.6rem;
}
.header__links {
  margin-left: auto;
}
.header__icons {
  margin-left: 2.8rem;
}
.header__space {
  height: 9.5rem;
}
.header__burger {
  display: none;
}

@media (max-width: 1199.98px) {
  .header__menu {
    display: none;
  }
  .header__icons {
    display: none;
  }
  .header__burger {
    display: block;
    margin-left: 3rem;
  }
}
@media (max-width: 899.98px) {
  .header__logo {
    width: 10rem;
  }
}
.footer {
  padding-top: 6.3rem;
  border-radius: 3rem 3rem 0px 0px;
  background: #191919;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__top__logo {
  flex: 0 0 auto;
  width: 17.5rem;
}
.footer__top__address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}
.footer__menu {
  margin-top: 5rem;
  display: flex;
}
.footer__menu__col {
  flex-grow: 1;
  padding-right: clamp(8rem, 7vw, 13rem);
}
.footer__menu__title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 0.5833333333;
  letter-spacing: -0.14px;
  color: #ffcb25;
}
.footer__menu__list {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.3333333333;
  color: #e9e8e9;
}
.footer__menu__list--2-cols {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
.footer__bottom {
  margin-top: 5rem;
  border-top: 1px solid rgba(105, 119, 144, 0.5);
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 2.3333333333;
  color: #fff;
}
.footer__dev {
  display: flex;
  align-items: center;
}
.footer__dev__label {
  padding-top: 0.5em;
}
.footer__dev__logo {
  flex: 0 0 auto;
  width: 14.3rem;
}

@media (max-width: 1198.98px) {
  .footer__menu__list--2-cols {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media (max-width: 899.98px) {
  .footer__top__logo {
    width: 10rem;
  }
  .footer__menu {
    flex-wrap: wrap;
    gap: 4rem 0;
  }
  .footer__menu__list {
    font-size: 1.4rem;
  }
  .footer__bottom {
    height: auto;
    display: block;
    padding: 2rem 0;
  }
}
@media (max-width: 599.98px) {
  .footer__top {
    display: block;
  }
  .footer__top__address {
    text-align: left;
    margin-top: 3rem;
  }
}
.counts {
  padding-top: 6rem;
  padding-bottom: 6.7rem;
  margin-bottom: -3rem;
  border-radius: 3rem 3rem 0px 0px;
  background: #000;
  color: #fff;
}
.counts__about {
  display: flex;
  flex-wrap: wrap;
}
.counts__about__left, .counts__about__right {
  flex: 0 0 auto;
  margin-bottom: 7.8rem;
  width: 50%;
}
.counts__about__left {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.75;
}
.counts__row {
  display: flex;
  flex-wrap: wrap;
}
.counts__col {
  flex: 0 0 auto;
  margin-bottom: 7.8rem;
  width: 50%;
}
.counts__col--staff {
  transform: translateY(-8rem);
}
.counts__col--staff .counts__item {
  margin-right: 33.33%;
}
.counts__col--years {
  margin-left: 25%;
}
.counts__desc {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3125;
}
.counts__desc b,
.counts__desc strong {
  font-weight: 700;
}
.counts__btns {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.counts__item {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.counts__value {
  transform: translateX(-0.05em);
  font-size: clamp(10rem, 14vw, 20rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.8rem;
  color: #ffcb25;
}
.counts__label {
  margin-top: -0.8rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3125;
}
.counts__details {
  font-size: 2rem;
  line-height: 1.6;
}

@media (max-width: 899.98px) {
  .counts__about__left, .counts__about__right {
    width: 100%;
  }
  .counts__about__left {
    margin-bottom: 1rem;
  }
  .counts__about__right {
    margin-bottom: 20rem;
  }
}
@media (max-width: 599.98px) {
  .counts__desc {
    font-size: 2.7rem;
  }
  .counts__col {
    width: 100%;
  }
  .counts__col--staff {
    transform: none;
  }
  .counts__col--staff .counts__item {
    margin-right: 0;
  }
  .counts__col--years {
    margin-left: 0;
  }
  .counts__about__right {
    margin-bottom: 12rem;
  }
  .counts__label {
    font-size: 2.7rem;
  }
}
.intro {
  position: relative;
  margin-bottom: -3rem;
  color: #fff;
}
.intro__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.intro__center {
  position: relative;
  z-index: 10;
  padding-bottom: 14rem;
}
.intro__title {
  font-size: clamp(4rem, 5vw, 8rem);
  font-weight: 500;
  line-height: 1.125;
}
.intro__desc {
  padding-top: 22rem;
  text-align: right;
}
.intro__desc__text {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.6;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1.4rem;
}
.intro__btn {
  margin-top: 3rem;
}

@media (max-width: 1199.98px) {
  .intro__desc {
    margin-bottom: 5rem;
  }
  .intro__center {
    padding-bottom: 10rem;
  }
}
@media (max-width: 599.98px) {
  .intro__desc {
    padding-top: 15rem;
  }
  .intro__desc__text {
    font-size: 1.6rem;
  }
}
.services {
  padding: 6rem 0 11rem 0;
  margin-bottom: -3rem;
  border-radius: 3rem 3rem 0px 0px;
  background: #fff;
}
.services__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.75;
}
.services__desc {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3125;
}
.services__list {
  margin-left: 33.33%;
  margin-top: 4rem;
}

@media (max-width: 899.98px) {
  .services__list {
    margin-left: 0;
  }
}
@media (max-width: 599.98px) {
  .services__desc {
    font-size: 2.7rem;
  }
}
.contact {
  background: #000;
  padding-top: 4rem;
  padding-bottom: 21rem;
  margin-bottom: -3rem;
  color: #fff;
  overflow: hidden;
}
.contact__title {
  margin-bottom: 4rem;
  white-space: nowrap;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffcb25;
}
.contact__title__value {
  display: inline-block;
  animation: scrollLeft 12s linear infinite;
}
.contact__desc {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 3rem;
  font-size: 2rem;
  line-height: 1.6;
}
.contact__row {
  display: flex;
  margin: 0 -0.8rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  gap: 1.6rem 0;
}
.contact__col {
  flex: 0 0 auto;
  padding: 0 0.8rem;
  width: 50%;
}
.contact__tip {
  margin-top: 3rem;
  width: 50%;
  padding-right: 0.8rem;
  font-size: 2rem;
  line-height: 1.6;
}
.contact__tip a {
  color: #ffcb25;
}
.contact__btn {
  width: 50%;
  padding-right: 0.8rem;
  margin-top: 2rem;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}
@media (max-width: 599.98px) {
  .contact__col {
    width: 100%;
  }
  .contact__tip {
    width: auto;
    font-size: 1.7rem;
  }
  .contact__btn {
    width: auto;
  }
  .contact__btn button {
    width: auto;
  }
  .contact__title {
    font-size: 6rem;
  }
  .contact__desc {
    font-size: 1.7rem;
  }
  .contact__desc br {
    display: none;
  }
}
.offices {
  padding: 2.2rem 0 11rem 0;
  margin-bottom: -3rem;
  border-radius: 3rem 3rem 0px 0px;
  background: #e9e8e9;
}
.offices__title {
  font-size: clamp(6rem, 14vw, 20rem);
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.04em;
  color: #fff;
}
.offices__list {
  margin-left: 33.33%;
  margin-bottom: 7rem;
  margin-top: 3rem;
}
.offices__point {
  display: flex;
  margin: 0 -0.8rem;
  margin-top: 1.6rem;
}
.offices__point__panel {
  padding: 2rem 1.6rem;
  border-radius: 1.4rem;
  background: #fff;
}
.offices__point__left {
  flex: 0 0 auto;
  padding: 0 0.8rem;
  width: 33.33%;
}
.offices__point__right {
  flex: 0 0 auto;
  padding: 0 0.8rem;
  width: 66.66%;
}
.offices__point__panel {
  height: 28rem;
  display: flex;
  flex-direction: column;
}
.offices__point__title {
  padding-top: 0.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.offices__point__text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7142857143;
  letter-spacing: -0.14px;
}
.offices__point__btn {
  margin-top: auto;
  text-align: right;
}
.offices__point__image {
  height: 40rem;
  border-radius: 1.4rem;
  overflow: hidden;
}
.offices__point__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 899.98px) {
  .offices__list {
    margin-left: 0;
  }
  .offices__point {
    position: relative;
    margin-top: 6rem;
  }
  .offices__point__left {
    position: absolute;
    top: -5rem;
    left: 0;
    width: 100%;
    max-width: 50rem;
    padding: 2rem 2.8rem;
  }
  .offices__point__right {
    width: 100%;
  }
}
.clients {
  border-radius: 3rem 3rem 0px 0px;
  background: #000;
  padding-top: 5rem;
  padding-bottom: 12.6rem;
  margin-bottom: -3rem;
  color: #fff;
}
.clients__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.75;
}
.clients__desc {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3125;
}
.clients__logos {
  margin-top: 5.6rem;
}
.clients__stars {
  margin-top: 6rem;
}
.clients__btn-join {
  padding-top: 16.2rem;
  min-width: auto;
}

@media (max-width: 599.98px) {
  .clients__desc {
    font-size: 2.7rem;
  }
}
.about-page {
  position: relative;
  padding-bottom: 8rem;
}
.about-page__title {
  margin-bottom: 3rem;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.125;
}
.about-page__desc {
  max-width: 56.5rem;
  font-size: 2rem;
  line-height: 1.6;
}
.about-page__image {
  position: absolute;
  right: 0;
  top: -8rem;
  width: 50.6rem;
}
.about-page__image:after {
  content: " ";
  display: block;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(transparent, #fff);
}
.about-page__content {
  position: relative;
}

@media (max-width: 599.98px) {
  .about-page__title {
    font-size: 4rem;
  }
  .about-page__desc {
    font-size: 1.6rem;
  }
}
.about-service__title {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
}
.about-service__attn {
  margin: 2rem 0;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3125;
  max-width: 94.5rem;
}
.about-service__desc {
  font-size: 2rem;
  line-height: 1.6;
  max-width: 112rem;
}
.about-service__btn {
  margin-top: 4rem;
}

@media (max-width: 599.98px) {
  .about-service__attn {
    font-size: 2.7rem;
  }
  .about-service__desc {
    font-size: 1.6rem;
  }
}
.addresses__title {
  padding: 2.4rem 3rem;
  border-radius: 3rem 3rem 0px 0px;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3125;
  background: #ffcb25;
}
.addresses__table {
  border: 2px solid #000;
  border-width: 2px 0;
}
.addresses__title + .addresses__table {
  border-top: 0;
}

@media (max-width: 599.98px) {
  .addresses__title {
    font-size: 2.7rem;
  }
}
.price-list__title {
  padding: 2.4rem 3rem;
  border-radius: 3rem 3rem 0px 0px;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3125;
  background: #ffcb25;
}
.price-list__desc {
  padding: 2.4rem 3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.price-list__table {
  border: 2px solid #000;
  border-width: 2px 0;
}
.price-list__btn {
  margin-top: 4rem;
}
.price-list__tip {
  margin-top: 2.3rem;
}

@media (max-width: 599.98px) {
  .price-list__title {
    font-size: 2.7rem;
  }
}
.scheme {
  text-align: center;
}
.scheme__content {
  display: inline-block;
  min-width: 1000px;
}

.article {
  padding: 5rem 0 9rem 0;
  margin-bottom: -3rem;
  border-radius: 3rem 3rem 0px 0px;
  background: #fff;
}
.article--gray {
  background: #e9e8e9;
}
.article__title {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3125;
}
.article__text {
  font-size: 2rem;
  line-height: 1.6;
  max-width: 100rem;
}
.article__text li {
  margin: 1rem 0;
  position: relative;
  padding-left: 4rem;
}
.article__text li:first-child {
  margin-top: 0;
}
.article__text li:last-child {
  margin-bottom: 0;
}
.article__text ol li > span {
  position: absolute;
  top: 0.5rem;
  left: 0;
  color: #b4bbc7;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
}
.article__text ul li:before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  width: 0.8rem;
  height: 0.8rem;
  background: #ffcb25;
  border-radius: 50%;
}
.article__text a {
  text-decoration: underline;
  color: #ffcb25;
}
.article__tip {
  margin-top: 3rem;
}

@media (max-width: 599.98px) {
  .article__title {
    font-size: 2.7rem;
  }
  .article__text {
    font-size: 1.6rem;
  }
}
.logos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.8rem;
  gap: 1.6rem 0;
}
.logos__col {
  flex: 0 0 auto;
  padding: 0 0.8rem;
  width: 20%;
}
.logos__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.4rem;
  height: 20rem;
  padding: 0 2rem;
}

@media (max-width: 1199.98px) {
  .logos__col {
    width: 25%;
  }
}
@media (max-width: 899.98px) {
  .logos__col {
    width: 33.33%;
  }
}
@media (max-width: 599.98px) {
  .logos__col {
    width: 50%;
  }
}
.features__row {
  display: flex;
  margin: 0 -0.8rem;
  flex-wrap: wrap;
}
.features__col {
  flex: 0 0 auto;
  padding: 0 0.8rem;
  width: 33.33%;
}
.features__item {
  padding: 2rem 8rem 4rem 0;
  border-top: 1px solid rgba(105, 119, 144, 0.5);
  position: relative;
}
.features__item:after {
  content: " ";
  transition: all 0.2s;
  width: 4.4rem;
  height: 4.4rem;
  background: url(../img/icons/arrow-services.svg) no-repeat 50% 50%/contain;
  opacity: 0;
  position: absolute;
  right: 2.4rem;
  top: 5rem;
}
.features__item:hover .features__title {
  color: #ffcb25;
}
.features__item:hover:after {
  opacity: 1;
}
.features__title {
  transition: all 0.2s;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.features__desc {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7142857143;
  letter-spacing: -0.14px;
}

@media (max-width: 899.98px) {
  .features__col {
    width: 50%;
  }
}
@media (max-width: 599.98px) {
  .features__col {
    width: 100%;
  }
  .features__item {
    padding-right: 6rem;
  }
  .features__item:after {
    right: 0;
  }
}
.gallery__row {
  display: flex;
  margin: 0 -0.8rem;
}
.gallery__col {
  flex-grow: 1;
  padding: 0 0.8rem;
}
.gallery__item {
  border-radius: 1.4rem;
  overflow: hidden;
  height: 52rem;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 599.98px) {
  .gallery__row {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .gallery__col {
    flex: 0 0 auto;
    width: 100%;
  }
  .gallery__item {
    height: 40rem;
  }
}
@media (max-width: 899.98px) {
  :root {
    --side-padding: 2rem;
  }

  html {
    font-size: 9px;
  }
}