.btn-normal {
    transition: all 0.4s;
    border: 1px solid #fff;
    padding: 1.3rem 1.5rem;
    border-radius: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 21rem;
    gap: 1.6rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: calc(24 / 14);
    letter-spacing: -0.14px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);

    &__icon {
        flex: 0 0 auto;
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #ffcb25;

        .icon {
            font-size: 1rem;
        }
    }

    &:hover {
        background: #fff;
        color: #000;
    }
}
