.btn-filled {
    transition: all 0.4s;
    border: 1px solid transparent;
    padding: 3.1rem 1.5rem 1.3rem 1.5rem;
    border-radius: 1.4rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-width: 21rem;
    gap: 1.6rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: calc(24 / 14);
    letter-spacing: -0.14px;
    color: #000;

    &__icon {
        flex: 0 0 auto;
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        .icon {
            font-size: 1rem;
            stroke: #000;
        }
    }

    &--yellow-to-white {
        background: #ffcb25;

        .btn-filled__icon {
            background: #fff;
        }

        &:hover {
            background: #fff;

            .btn-filled__icon {
                background: #ffcb25;
            }
        }
    }

    &--yellow-to-dark {
        background: #ffcb25;

        .btn-filled__icon {
            background: #fff;
        }

        &:hover {
            background: #000;
            color: #ffcb25;

            .btn-filled__icon {
                background: #ffcb25;
            }
        }
    }

    &--gray-to-yellow {
        background: #444;

        .btn-filled__icon {
            background: #000;

            .icon {
                stroke: #444;
            }
        }

        &:hover {
            background: #ffcb25;
            color: #000;

            .btn-filled__icon {
                background: #fff;

                .icon {
                    stroke: #000;
                }
            }
        }
    }

    &--white {
        background: #fff;

        .btn-filled__icon {
            background: #ffcb25;
        }
    }
}
