.btn {
    @include reset-button;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &--between {
        justify-content: space-between;
    }

    &__icon {
        margin: -1em calc(20 / 33) + em;
        font-size: calc(33 / 17) + em;
        fill: currentColor;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &--80 {
            font-size: calc(33 * 0.8 / 17) + em;
        }

        &--50 {
            font-size: calc(33 * 0.5 / 17) + em;
        }
    }
}
