.list-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    gap: 2rem 0;

    &__col {
        flex: 0 0 auto;
        padding: 0 1rem;
        width: 50%;
        display: flex;
    }

    &__item {
        transition: all 0.2s;
        position: relative;
        padding: 5rem;
        border-radius: 1.4rem;
        border: 1px solid #000;
        flex-grow: 1;

        &:first-child {
            margin-top: 0;
        }

        &:before {
            transition: all 0.2;
            content: " ";
            position: absolute;
            top: 4rem;
            right: 5rem;
            width: 4.4rem;
            height: 4.4rem;
            background: url(../img/icons/arrow-services.svg) no-repeat 50% 50% /
                contain;
            opacity: 0;
        }

        &:hover {
            border-color: transparent;
            background: #ffcb25;

            &:before {
                opacity: 1;
            }

            .list-cards__num {
                color: #000;
            }
        }
    }

    &__num {
        transition: all 0.2s;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: calc(24 / 32);
        color: #b4bbc7;
    }

    &__title {
        margin: 3rem 0;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: calc(42 / 32);
    }

    &__desc {
        font-size: 2rem;
        line-height: calc(32 / 20);
    }
}
