.list-nums {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.8rem;

    &__col {
        flex: 0 0 auto;
        padding: 0 0.8rem;
        width: 50%;
    }

    &__item {
        display: block;
        position: relative;
        padding: 2rem 0 4rem 0;
        border-top: 1px solid rgba(105, 119, 144, 0.5);
        font-size: 2rem;
        font-weight: 700;
        line-height: calc(24 / 20);

        &:hover {
            color: #ffcb25;
            cursor: url("../img/icons/arrow-services.svg") 22 22, auto;

            .services__index {
                color: #ffcb25;
            }
        }
    }

    &__name {
        display: block;
        padding-right: calc(20% + 2rem);
    }

    &__index {
        position: absolute;
        top: 2rem;
        right: 0;
        font-weight: 500;
        color: #b4bbc7;
    }

    &--offices {
        .list-nums__item {
            &:hover {
                color: #000;
                cursor: url("../img/icons/arrow-offices.svg") 22 22, auto;

                .services__index {
                    color: #b4bbc7;
                }
            }
        }
    }
}

@media (max-width: 599.98px) {
    .list-nums {
        &__col {
            width: 100%;
        }

        &__name {
            padding-right: calc(15% + 2rem);
        }
    }
}
