.input-default {
    input {
        background: transparent;
        border: 0;
        border-top: 1px solid transparent;
        border-bottom: 1px solid rgba(#fff, 0.5);
        width: 100%;
        padding: 1em 0;
        font-family: inherit;
        font-size: 2rem;
        line-height: calc(32 / 20);
        color: #fff;

        &:focus {
            outline: none;
            border-bottom-color: #ffcb25;
        }

        &::placeholder {
            color: rgba(#fff, 0.5);
        }
    }
}
@media (max-width: 599.98px) {
    .input-default {
        input {
            font-size: 1.7rem;
        }
    }
}
