@import "./vendor/meyer-reset.scss";
@import "./helpers/reset.scss";
@import "./helpers/mixins.scss";
@import "./helpers/helpers.scss";

:root {
    --side-padding: 4.8rem;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    text-size-adjust: none;
    min-width: 320px;
    font-family: "Manrope";
    color: #000;
}

img {
    max-width: 100%;
}

img[data-src] {
    visibility: hidden;
}

a,
button {
    transition: all 0.2s;
}

a {
    text-decoration: none;
    color: currentColor;
}

.icon {
    width: 1em;
    height: 1em;
}

.scroll-area {
    overflow: auto;
}

@import "./blocks/articles/index.scss";
@import "./blocks/buttons/index.scss";
@import "./blocks/cards/index.scss";
@import "./blocks/forms/index.scss";
@import "./blocks/inputs/index.scss";
@import "./blocks/lists/index.scss";
@import "./blocks/navs/index.scss";
@import "./blocks/panels/index.scss";
@import "./blocks/selects/index.scss";
@import "./blocks/sliders/index.scss";
@import "./blocks/tables/index.scss";

@import "./blocks/tabs-content.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/counts.scss";
@import "./blocks/intro.scss";
@import "./blocks/services.scss";
@import "./blocks/contact.scss";
@import "./blocks/offices.scss";
@import "./blocks/clients.scss";
@import "./blocks/about-page.scss";
@import "./blocks/about-service.scss";
@import "./blocks/addresses.scss";
@import "./blocks/price-list.scss";
@import "./blocks/scheme.scss";
@import "./blocks/article.scss";
@import "./blocks/logos.scss";
@import "./blocks/features.scss";
@import "./blocks/gallery.scss";

@media (max-width: 899.98px) {
    :root {
        --side-padding: 2rem;
    }

    html {
        font-size: 9px;
    }
}
