.nav-bread {
    margin: 1.1rem 0 4rem 0;
    position: relative;
    z-index: 10;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        white-space: nowrap;
    }

    li {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: calc(28 / 12);
        color: #b4bbc7;

        &:after {
            content: "→";
            margin: 0 0.5em;
            position: relative;
            top: -0.2em;
        }

        &:last-child {
            &:after {
                display: none;
            }

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }

    a {
        text-decoration: underline;
    }
}
