<!--  footer -->
<footer class="footer">
    <div class="page__center">
        <div class="footer__top">
            <div class="footer__top__logo">
                <a href="#" class="image-box" style="padding-top: 41.67%">
                    <img src="img/logos/background.svg" alt="" />
                </a>
            </div>

            <div class="footer__top__address">
                <div>Пресненская набережная, дом 12</div>
                <div>8 (800) 333-13-13</div>
            </div>
        </div>

        <div class="footer__menu">
            <div class="footer__menu__col">
                <div class="footer__menu__title">Услуги</div>
                <ul class="footer__menu__list footer__menu__list--2-cols">
                    <li><a href="#">Юридические адреса</a></li>
                    <li><a href="#">Регистрация компаний</a></li>
                    <li><a href="#">Ликвидация компаний</a></li>
                    <li><a href="#">Исправление ошибок в ЕГРЮЛ</a></li>
                    <li><a href="#">Регистрация изменений в компаниях</a></li>
                    <li>
                        <a href="#"
                            >Юридическое сопровождение сделок с недвижимостью</a
                        >
                    </li>
                    <li><a href="#">Срочный выкуп недвижимости</a></li>
                    <li><a href="#">Банкротство фирм</a></li>
                    <li>
                        <a href="#"
                            >Сопровождение камеральных налоговых проверок</a
                        >
                    </li>
                    <li>
                        <a href="#"
                            >Сопровождение выездных налоговых проверок</a
                        >
                    </li>
                    <li>
                        <a href="#"
                            >Сопровождение проверок правоохранительных
                            органов</a
                        >
                    </li>
                    <li><a href="#">Поддержка в ФСПП</a></li>
                    <li><a href="#">Адвокатское сопровождение</a></li>
                    <li><a href="#">Представительство в судах</a></li>
                    <li><a href="#">Бухгалтерское обслуживание</a></li>
                    <li>
                        <a href="#"
                            >Сопровождение бизнеса (абонентское обслуживание)</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__menu__col">
                <div class="footer__menu__title">О компании</div>
                <ul class="footer__menu__list">
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">История</a></li>
                </ul>
            </div>
            <div class="footer__menu__col">
                <div class="footer__menu__title">Информация</div>
                <ul class="footer__menu__list">
                    <li><a href="#">Партнёрам</a></li>
                    <li><a href="#">Гарантии</a></li>
                    <li><a href="#">Частые вопросы</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__copy">
                © 2009–2023 Background Международная юридическая компания
            </div>
            <div class="footer__dev">
                <div class="footer__dev__label">создание сайтов —</div>
                <a href="#" class="footer__dev__logo">
                    <span class="image-box" style="padding-top: 11.6%">
                        <img src="img/logos/creative-team.svg" alt="" />
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
