<!--  header -->
<header class="header">
    <div class="page__center">
        <div class="header__center">
            <a href="#" class="header__logo"></a>
            <div class="header__menu">
                <button class="btn btn-normal">
                    <span>Наши услуги</span>
                    <span class="btn-normal__icon">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="header__links">
                <nav class="nav-top">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Информация</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">8 (800) 333-13-13</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__icons">
                <nav class="nav-icons">
                    <ul>
                        <li>
                            <a href="#">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/sprite.svg#email"
                                    ></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/sprite.svg#search"
                                    ></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- /header -->
