<!--  header -->
<header class="header">
    <div class="page__center">
        <div class="header__center">
            <a href="#" class="header__logo"></a>
            <div class="header__menu">
                <button
                    class="btn btn-normal js-submenu-item"
                    data-submenu="nav-down"
                >
                    <span>Наши услуги</span>
                    <span class="btn-normal__icon">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#arrow-right"></use>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="header__links">
                <nav class="nav-top">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Информация</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">8 (800) 333-13-13</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__icons">
                <nav class="nav-icons">
                    <ul>
                        <li>
                            <a href="#">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/sprite.svg#email"
                                    ></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/sprite.svg#search"
                                    ></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__burger">
                <button class="btn-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>
<!-- /header -->

<nav class="nav-down" id="nav-down">
    <div class="page__center">
        <div class="nav-down__body js-submenu">
            <div class="nav-down__title">Услуги</div>
            <div class="nav-down__row">
                <div class="nav-down__left">
                    Мы готовы оказать профессиональную правовую защиту небольшим
                    и крупным компаниям, индивидуальным предпринимателям, а
                    также физическим лицам.
                </div>
                <div class="nav-down__right">
                    <div class="nav-down__nav">
                        <div class="nav-down__col">
                            <ul class="nav-down__list">
                                <li><a href="#">Юридические адреса</a></li>
                                <li>
                                    <a href="#"> Регистрация компаний</a>
                                </li>
                                <li><a href="#">Ликвидация компаний</a></li>
                                <li>
                                    <a href="#">Исправление ошибок в ЕГРЮЛ</a>
                                </li>
                                <li>
                                    <a href="#"
                                        >Регистрация изменений в компаниях</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        >Сопровождение сделок с недвижимостью</a
                                    >
                                </li>
                                <li>
                                    <a href="#">Срочный выкуп недвижимости</a>
                                </li>
                                <li>
                                    <a href="#">Банкротство юридических лиц</a>
                                </li>
                                <li>
                                    <a href="#">Банкротство физических лиц</a>
                                </li>
                                <li>
                                    <a href="#"
                                        >Сопровождение налоговых проверок</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="nav-down__col">
                            <ul class="nav-down__list">
                                <li>
                                    <a href="#"
                                        >Сопровождение проверок
                                        правоохранительных органов</a
                                    >
                                </li>

                                <li><a href="#">Поддержка в ФСПП</a></li>
                                <li>
                                    <a href="#">Адвокатское сопровождение</a>
                                </li>

                                <li>
                                    <a href="#">Представительство в судах</a>
                                </li>
                                <li>
                                    <a href="#">Бухгалтерское обслуживание</a>
                                </li>
                                <li>
                                    <a href="#">Юридическое обслуживание</a>
                                </li>
                                <li>
                                    <a href="#"
                                        >Юридические услуги юридическим лицам</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        >Юридические услуги физическим лицам</a
                                    >
                                </li>
                                <li><a href="#">Арбитражный адвокат</a></li>
                            </ul>
                        </div>
                        <div class="nav-down__col">
                            <ul class="nav-down__list">
                                <li>
                                    <a href="#">Юрист по банковским делам</a>
                                </li>
                                <li><a href="#">Земельные вопросы</a></li>
                                <li>
                                    <a href="#">Исполнительное производство</a>
                                </li>

                                <li><a href="#">Налоговое право</a></li>
                                <li><a href="#">Таможенный юрист</a></li>
                            </ul>

                            <div class="nav-down__btn">
                                <button
                                    class="btn btn-filled btn-filled--yellow-to-dark"
                                >
                                    <span>Все услуги</span>
                                    <span class="btn-filled__icon">
                                        <svg class="icon">
                                            <use
                                                xlink:href="img/sprite.svg#arrow-right"
                                            ></use>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
